<div class="container">
    <p>Agregar Cita</p>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Razon de la Cita</label>
                    <input [(ngModel)]="cita.razon_cita" type="text" class="form-control" name="razon_cita">
                </div>
                <div class="mb-3">
                    <label class="form-label">Sintomas</label>
                    <input [(ngModel)]="cita.sintomas_quejas" type="text" class="form-control" name="sintomas_quejas">
                </div>
                <button (click)="agregar()" class="btn btn-primary">Agregar</button>
            </form>            
        </div>


        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <img src="..." class="card-img-top" alt="...">
                </div>
                <div class="mb-3">
                    <label class="form-label">{{cita.razon_cita}}</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">{{cita.sintomas_quejas}}</label>
                </div>
            </form>
        </div>
    </div>
</div>
