<div class="container">
    <p>Agregar Cita</p>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Razon de la Cita</label>
                    <input [(ngModel)]="cita.razon_cita" type="text" class="form-control" name="razon_cita">
                </div>
                <div class="mb-3">
                    <label class="form-label">Sintomas</label>
                    <input [(ngModel)]="cita.sintomas_quejas" type="text" class="form-control" name="sintomas_quejas">
                </div>
                <mat-form-field style="display: block; width: 50%;">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" (dateChange)="handleDateChange($event)">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field style="display: block; width: 50%;">
                    <mat-label>Choose a time</mat-label>
                    <mat-select placeholder="hh:mm" [(value)]="selectedTime" (selectionChange)="calculateFinTime()">
                        <mat-option value="00:00">00:00</mat-option>
                        <mat-option value="01:00">01:00</mat-option>
                        <mat-option value="02:00">02:00</mat-option>
                        <mat-option value="03:00">03:00</mat-option>
                        <mat-option value="04:00">04:00</mat-option>
                        <mat-option value="05:00">05:00</mat-option>
                        <mat-option value="06:00">06:00</mat-option>
                        <mat-option value="07:00">07:00</mat-option>
                        <mat-option value="08:00">08:00</mat-option>
                        <mat-option value="09:00">09:00</mat-option>
                        <mat-option value="10:00">10:00</mat-option>
                        <mat-option value="11:00">11:00</mat-option>
                        <mat-option value="12:00">12:00</mat-option>
                        <mat-option value="13:00">13:00</mat-option>
                        <mat-option value="14:00">14:00</mat-option>
                        <mat-option value="15:00">15:00</mat-option>
                        <mat-option value="16:00">16:00</mat-option>
                        <mat-option value="17:00">17:00</mat-option>
                        <mat-option value="18:00">18:00</mat-option>
                        <mat-option value="19:00">19:00</mat-option>
                        <mat-option value="20:00">20:00</mat-option>
                        <mat-option value="21:00">21:00</mat-option>
                        <mat-option value="22:00">22:00</mat-option>
                        <mat-option value="23:00">23:00</mat-option>
                    </mat-select>
                  </mat-form-field>
                                  
                <button (click)="agregar()" class="btn btn-primary">Agregar</button>
            </form>            
        </div>


        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <img src="..." class="card-img-top" alt="...">
                </div>
                <div class="mb-3">
                    <label class="form-label">{{cita.razon_cita}}</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">{{cita.sintomas_quejas}}</label>
                </div>
            </form>
        </div>
    </div>
</div>
